body
{
    background-image: url("https://ak.picdn.net/shutterstock/videos/1011355004/thumb/1.jpg");
    color: red;
    font-size: 22px;
}

#left_culumn
{
    float: left;
    width: 300px;
    margin-right: 0;
}

#start
{
    width: 100px;
    height: 50px;
    background: red ;
    color: aqua;
    border-radius: 5px;
}